.divselo {
  display: flex;
  align-items: center;
}
.tituloselo {
  font-family: var(--font-primary-monserrat);
  font-size: 6.8rem;
  font-weight: 700;
  line-height: 7.2rem;
  color: #0357a0;
  width: 69.2rem;
  height: 28.8rem;
  margin-top: 9.5rem;
  margin-left: 1.6rem;
  margin-bottom: 2.6rem;
}
.pselo {
  font-family: var(--font-secondary-opensans);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.3rem;
  text-align: justify;
  width: 45.8rem;
  margin-left: 1.6rem;
}
.butselo {
  width: 45.9rem;
  height: 9.7rem;
  border-radius: 1rem;
  font-family: var(--font-primary-monserrat);
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
  background-color: #7503A6;
  border: 0.1rem solid #7503A6;
  color: white;
  margin-left: 1.6rem;
  margin-top: 2.8rem;
  margin-bottom: 13.5rem;
  cursor: pointer;
}
.seloimg {
  margin-left: -70rem;
 position: relative;
  z-index: -1;
}
.divcentral {
  height: 35.8rem;
  background-color: #7503a6;
  margin-bottom: 4.8rem;
}
.pcentarl1 {
  color: white;
  margin: auto;
  width: 128.8rem;
  font-family: var(--font-secondary-opensans);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.7rem;
  text-align: justify;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.pcentral2 {
  color: white;
  margin: auto;
  width: 128.8rem;
  font-family: var(--font-secondary-opensans);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.7rem;
  text-align: justify;
}
.divbeneaccess {
  height: 64rem;
  background-color: #0357a0;
}
.h1selobene {
  font-family: var(--font-primary-monserrat);
  font-size: 5rem;
  font-weight: 700;
  line-height: 5rem;
  padding-top: 7.3rem;
  padding-left: 1.2rem;
  color: white;
  padding-bottom: 6.4rem;
}
.divcarbene {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9.9rem;
}
.carbene {
  width: 30rem;
  height: 38rem;
  border-radius: 1rem;
  background-color: white;
}

.imgcarbene {
  display: flex;
  justify-content: center;
  margin-top: 5.9rem;
  margin-bottom: 2.4rem;
}

.h1carbene {
  font-family: var(--font-primary-monserrat);
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  text-align: center;
  padding-bottom: 4.8rem;
  color: #0357a0;
  width: 24.9rem;
  margin-left: 2.5rem;
}
.pcarbene {
  font-family: var(--font-primary-monserrat);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8rem;
  text-align: center;
  color: #0357a0;
  width: 25rem;
  height: 9rem;
  margin-left: 2.5rem;
}
