header {
  padding: 1.6rem;
  .divTextImg {
    display: flex;
    align-items: center;

    .divText {
      max-width: 81.5rem;
      .TituloHeader {
        color: #0357a0;
        font-size: 6.8rem;
        font-weight: 700;
        font-family: var(--font-primary-monserrat);
      }

      .TextoHome {
        margin-top: 1.6rem;
        font-size: 2.5rem;
        font-family: var(--font-secondary-opensans);
        font-weight: 400;
      }
    }
  }

  .headerBtns {
    margin: 4.4rem 0 9.6rem;
    display: flex;
    gap: 1rem;
    justify-content: center;

    button {
      cursor: pointer;
      max-width: 45.9rem;
      border-radius: 10px;
      background: transparent;

      a {
        font-size: 3rem;
        font-family: var(--font-primary-monserrat);
        font-weight: 600;
      }
    }
  }

  .headerBtns button:first-child {
    border: 5px solid #7503a6;
    background: #7503a6;
    padding: 3.5rem 5.6rem;
    .linkHomeHeader {
      color: #fefefe;
      white-space: nowrap;
      text-decoration: none;
    }
  }

  .headerBtns button:last-child {
    border: 5px solid #7503a6;
    padding: 3.5rem 9.5rem;

    .linkHomeHeader {
      color: #7503a6;
      white-space: nowrap;
      text-decoration: none;
    }
  }
}

main {
  .mainObjs {
    padding: 4rem 1.6rem;
    background: #7503a6;
  }

  .titleMain {
    color: #fefefe;
    font-size: 6rem;
    font-family: var(--font-primary-monserrat);
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .divObjs {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .divMissao {
    grid-column: span 2;
  }

  .divMissao,
  .divValores,
  .divVisao {
    background: #fefefe;
    border-radius: 10px;
    padding: 1.6rem 2rem;

    .TitleDiretrizes {
      font-family: var(--font-primary-monserrat);
      font-weight: 700;
      font-size: 3rem;
      text-align: center;
      color: #7503a6;
    }

    .textoDiretrizes {
      font-family: var(--font-secondary-opensans);
      font-weight: 400;
      font-size: 2.5rem;
    }
  }

  .divDiferenciais {
    background: #57a40a;
    padding-top: 2rem;
    padding: 4rem 1.6rem;

    .tituloDiferenciais {
      font-family: var(--font-primary-monserrat);
      font-weight: 700;
      font-size: 6rem;
      color: #fefefe;
      margin-bottom: 2rem;
    }
    .tresdivs {
      display: flex;
      justify-content: center;
      gap: 1.8rem;
    }

    .divUm,
    .divDois,
    .divTres {
      background: #fefefe;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0 2rem;
      text-align: center;

      .imgDife {
        margin: 0 auto;
      }
      .TextoDif {
        font-size: 2.5rem;
        font-family: var(--font-secondary-opensans);
        font-weight: 400;
      }
    }
  }

  .perguntas {
    padding: 0 3rem;
    margin-top: 2.6rem;
    .TitulosPerguntas {
      font-family: var(--font-primary-monserrat);
      font-weight: 700;
      font-size: 6.8rem;
      color: #0357a0;
    }

    .divDrops {
      margin-top: 5.8rem;
      display: flex;
      gap: 4.5rem;
      justify-content: center;
      margin-bottom: 12.7rem;

      .campo1 {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
      }
    }
  }
}

.listaDrop {
  margin-top: 1rem;
  padding-left: 2rem;
}
